---
layout: page
title: 'Human Services Data Specification (HSDS) OpenAPI Spec v1.1 DRAFT'
slug: docs
---

<p>This is the schema for the HSDS API definition, as defined in the definitions section of the HSDS OpenAPI definition. If you are looking for the full schema for HSDS, there is <a href="https://github.com/openreferral/specification/blob/master/datapackage.json">it is maintained by separate group in a Github repository</a>, with the <a href="https://openreferral.readthedocs.io/en/latest/reference/">documentation published here.</a>. </p>

{% include nav-definition.html %}

<table cellpadding="3" cellspacing="2" width="100%" border="0" style="margin-top: 0px;">

  {% assign index = site.data.apis %}
  {% assign apijson = index[0] %}
  {% assign contents = site.data.api-commons %}
  {% assign apicommons = contents %}

  <tr>
    <td>
      <table width="100%" border="1" style="padding-top: 10px;">
        <tr>
        <td align="center" style="margin-left: 90px; margin-right: 90px;">

            {% assign numberofapis = apijson.apis | size %}

                {% for api in apijson.apis %}
                in1
                <table cellpadding="3" cellspacing="2" width="100%" border="1">

                    {% assign openapi_spec_json = '' %}

                    {% for property in api.properties %}

                     in2

                      {% assign thisname = apijson.name | downcase %}
                      {% assign thisname = thisname | append:'/' %}
                      {% assign thisname = thisname | replace: ' ','-' %}

                      {% if property.type == 'x-openapi-spec' %}

                        {% assign openapi_spec_url = property.url %}
                        {% assign pathname = openapi_spec_url | replace: '_data/api-commons/','' %}
                        {% assign pathname = pathname | replace: '.yaml','' %}
                        {% assign pathname = pathname | replace: '.json','' %}
                        {% assign pathname = pathname | replace: '/','.' %}
                        {% assign pathname = pathname | replace: 'api-commons.','' %}

                        {% for entry in apicommons %}
                          {% assign thisname = entry[0] %}
                          {% assign thisentry = entry[1] %}
                          {% if thisname == pathname %}
                            {% assign openapi_spec_json = thisentry %}
                          {% endif %}
                        {% endfor %}
                      {% endif %}

                    {% endfor %}

                    <tr id="methods-for-{{ pathname }}">
                      <td colspan="2">
                        <table width="95%" border="0" style="margin-left: 15px; margin-right: 15px;">

                          {% for spec in openapi_spec_json %}

                            {% for schema in spec.definitions %}

                              {% assign definition = schema[0] %}
                              HERE2: {{ definition }}<br />
                              {% assign definition_entry = schema[1] %}

                                  <p style="padding-top: 8px;"><strong>{{ definition }}</strong></p>
                                  <ul>
                                  {% for field in definition_entry.properties %}
                                      {% assign field_name = field[0] %}
                                      {% assign field_details = field[1] %}
                                      <li><strong>{{ field_name }}</strong> ({{ field_details.type }}) {{ field_details.description }}</li>
                                  {% endfor %}
                                  </ul>
                            {% endfor %}

                          {% endfor %}

                        </table>
                      </td>
                    </tr>
                  </table>
                {% endfor %}
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
