<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" href="{{site.baseurl}}/favicon.ico">

  <title>Open Referral - HSDS API Specification</title>

  <link href="{{ "/css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet">

  <script src="{{ "/js/jquery-latest.min.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
  <script src="{{ "/js/github.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
  <script src="{{ "/js/utility.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
  <script src="{{ "/js/js-yaml.min.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>

</head>
