<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" href="/favicon.ico">

  <title>Human Services Data API (HSDA)</title>

  <link href="/{{ site.github_repo}}/css/bootstrap.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/{{ site.github_repo}}/js/utility.js" type="text/javascript" charset="utf-8"></script>

</head>
