<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">How To Engage:</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {{ page.title }}
      <ul class="nav navbar-nav">
        <li{% if page.title == 'Human Services Data Specification (HSDS) Schema - Documentation' %} class="active"{% endif %}><a href="/definition/">Documentation <span class="sr-only">(current)</span></a></li>
        <li{% if page.title == 'Human Services Data Specification (HSDS) Schema - JSON' %} class="active"{% endif %}><a href="/definition/json/">OpenAPI Spec (JSON)</a></li>
        <li{% if page.title == 'Human Services Data Specification (HSDS) Schema - YAML' %} class="active"{% endif %}><a href="/definition/yaml/">OpenAPI Spec (YAML)</a></li>
        <li{% if page.title == 'Human Services Data Specification (HSDS) Schema - Discussion' %} class="active"{% endif %}><a href="/definition/discussion/">Discussion</a></li>
      </ul>
    </div>
  </div>
</nav>
