---
layout: page
title: 'Human Services Data API (HSDA) v1.2'
slug: docs
---

<p>This is the OpenAPI definiton for the Human Services Data API (HSDA) v1.2. It is available as this HTML list or YAML OpenAPI definition.</p>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Where To Engage:</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li{% if page.slug == 'docs' %} class="active"{% endif %}><a href="/{{ site.github_repo}}/hsda/">HTML View</a></li>
        <li{% if page.slug == 'yaml' %} class="active"{% endif %}><a href="https://github.com/{{ site.github_org}}/{{ site.github_repo}}/tree/master/_data/api-commons/openapi-hsda.yaml">YAML</a></li>
        <li{% if page.slug == 'demo' %} class="active"{% endif %}><a href="http://developer.open.referral.adopta.agency/#HSDA">Demo</a></li>
        <li{% if page.slug == 'issues' %} class="active"{% endif %}><a href="https://github.com/openreferral/api-specification/issues?q=is%3Aissue+is%3Aopen+label%3Ahsda">Github Issues</a></li>
      </ul>
    </div>
  </div>
</nav>

{% assign openapi_spec_json = site.data.api-commons.openapi-hsda %}

<table cellpadding="3" cellspacing="2" width="100%" border="0">
  <tr id="methods-for-{{ pathname }}">
    <td colspan="2">
      <table width="95%" border="0" cellspacing="3" cellpadding="2" style="margin-left: 15px; margin-right: 15px;">

        {% assign taglist = '' %}
        {% assign spec = openapi_spec_json %}

        {% for path in spec.paths %}
          {% assign method_json = path[1] %}
          {% for method in method_json %}
            {% assign tagarray = method[1].tags %}
            {% assign tag = tagarray[0] %}
            {% if taglist contains tag %}
            {% else %}
              {% assign taglist = taglist | append:',' %}
              {% assign taglist = taglist | append:tag %}
            {% endif %}
          {% endfor %}
        {% endfor %}

        {% assign tagArray = taglist | split: "," %}
        {% for grouptag in tagArray %}


          {% if grouptag != '' %}
            <tr>
              <td colspan="3" style="padding-top: 10px; padding-bottom: 10px; font-size: 18px;"><strong>{{ grouptag }}</strong></td>
            </tr>
          {% endif %}

          {% assign schema = spec.definitions %}

            {% for path in spec.paths %}
              {% assign method_json = path[1] %}
              {% for method in method_json %}

                {% assign parameters = method[1].parameters %}
                {% assign responses = method[1].responses %}

                {% assign tagarray = method[1].tags %}
                {% assign tag = tagarray[0] %}

                {% assign verb = method[0] | upcase %}

                {% assign summary = method[1].summary %}
                {% assign slug = path[0] | replace: '/','' %}

                {% if verb == 'GET' %}
                  {% assign back_color = site.get_color %}
                {% endif %}
                {% if verb == 'POST' %}
                  {% assign back_color = site.post_color %}
                {% endif %}
                {% if verb == 'PATCH' %}
                  {% assign back_color = site.patch_color %}
                {% endif %}
                {% if verb == 'PUT' %}
                  {% assign back_color = site.put_color %}
                {% endif %}
                {% if verb == 'DELETE' %}
                  {% assign back_color = site.delete_color %}
                {% endif %}

                {% if tag == grouptag %}
                  <tr>
                    <td width="20%" style="background-color: #CCC; padding-left: 20px; font-size: 13px; color:#000;"><strong>{{ summary }}</strong></td>
                    <td style="font-size: 13px; background-color: #CCC; color:#000;"><strong>{{ path[0] }}</strong></td>
                    <td width="5%" align="center" style="padding: 5px; width: 75px; background-color:#{{ back_color }}; font-weight: bold; font-size: 12px; color: #FFF; height: 10px;">
                      {{ verb }}
                    </td>
                  </tr>
                  <tr id="{{ slug }}-row">
                    <td colspan="3" style="padding: 15px;">

                      <table width="90%" border="0" align="center" cellspacing="3" cellpadding="2">

                        <form id="{{ slug }}-headers">
                        <!-- Begin Headers -->
                        {% assign number_of_parameters = parameters | size %}

                        {% if number_of_parameters > 0 %}

                          {% assign any_headers = 0 %}
                          {% for parameter in parameters %}
                            {% if parameter.in == 'header' %}
                              {% assign any_headers = 1 %}
                            {% endif %}
                          {% endfor %}

                          <!-- If there are any headers -->
                          {% if any_headers > 0 %}
                            <tr style="background-color: #FFF;">
                              <td style="font-size: 12px; padding: 5px;"><strong>Request Headers:</strong></td>
                            </tr>
                            <tr>
                              <td align="left" style="font-size: 12px; padding: 10px;">
                                  <table style="width: 75%;" cellspacing="3" cellpadding="2">
                                    {% for parameter in parameters %}
                                      {% if parameter.in == 'header' %}
                                        <tr>
                                          <td style="width: 25%;" align="right"><strong>{{ parameter.name }}:</strong></td>
                                          <td style="padding-left: 5px;">{{ parameter.description }}</td>
                                        </tr>
                                      {% endif %}
                                    {% endfor %}
                                  </table>
                              </td>
                            </tr>
                          {% endif %}
                        {% endif %}
                        <!-- End Headers -->
                        </form>

                        <form id="{{ slug }}-path">
                        <!-- Begin Path Parameters -->
                        {% assign number_of_parameters = parameters | size %}
                        {% if number_of_parameters > 0 %}

                          {% assign any_path_parameters = 0 %}
                          {% for parameter in parameters %}
                            {% if parameter.in == 'path' %}
                              {% assign any_path_parameters = 1 %}
                            {% endif %}
                          {% endfor %}

                          <!-- If there are any headers -->
                          {% if any_path_parameters > 0 %}
                            <tr style="background-color: #FFF;">
                              <td style="font-size: 12px; padding: 5px;"><strong>Path Parameters:</strong></td>
                            </tr>
                            <tr>
                              <td align="left" style="font-size: 12px; padding: 10px;">
                                  <table style="width: 75%;" cellspacing="3" cellpadding="2">
                                    {% for parameter in parameters %}
                                      {% if parameter.in == 'path' %}
                                        <tr>
                                          <td style="width: 25%;" align="right"><strong>{{ parameter.name }}:</strong></td>
                                          <td style="padding-left: 5px;">{{ parameter.description }}</td>
                                        </tr>
                                      {% endif %}
                                    {% endfor %}
                                  </table>
                              </td>
                            </tr>
                          {% endif %}
                        {% endif %}
                        <!-- End Path Parameters -->
                        </form>

                        <form id="{{ slug }}-parameters">
                        <!-- Begin Parameters -->
                        {% assign number_of_parameters = parameters | size %}
                        {% if number_of_parameters > 0 %}

                          {% assign any_parameters = 0 %}
                          {% for parameter in parameters %}
                            {% if parameter.in == 'query' %}
                              {% assign any_parameters = 1 %}
                            {% endif %}
                          {% endfor %}

                          <!-- If there are any parameters -->
                          {% if any_parameters > 0 %}
                            <tr style="background-color: #FFF;">
                              <td style="font-size: 12px; padding: 5px;"><strong>Request Parameters:</strong></td>
                            </tr>
                            <tr>
                              <td align="left" style="font-size: 12px; padding: 10px;">
                                  <table style="width: 75%;" cellspacing="3" cellpadding="2">
                                    {% for parameter in parameters %}
                                      {% if parameter.in == 'query' %}
                                        <tr>
                                          <td style="width: 25%;" align="right"><strong>{{ parameter.name }}:</strong></td>
                                          <td style="padding-left: 5px;">{{ parameter.description }}</td>
                                        </tr>
                                      {% endif %}
                                    {% endfor %}
                                  </table>
                              </td>
                            </tr>
                          {% endif %}
                        {% endif %}
                        <!-- End Parameters -->
                        </form>

                        <!-- If there are a body -->
                        {% assign any_body = 0 %}
                        {% for parameter in parameters %}
                          {% if parameter.in == 'body' %}
                            {% assign any_body = 1 %}
                          {% endif %}
                        {% endfor %}
                        {% if any_body > 0 %}

                        {% for parameter in parameters %}
                          {% if parameter.in == 'body' %}

                            {% assign this_def = parameter.schema['$ref'] %}
                            {% assign this_def = this_def | replace: '/definitions/','' %}
                            {% assign this_def = this_def | replace: '#','' %}

                            <tr style="background-color: #FFF;">
                              <td style="font-size: 12px; padding: 5px;"><strong>Request Body:</strong></td>
                            </tr>
                            <tr>
                              <td align="left" style="font-size: 12px; padding: 10px;">
                                  <table style="width: 75%;" cellspacing="3" cellpadding="2">
                                      {% for parameter in schema[this_def].properties %}
                                        {% assign parameter_name = parameter[0] %}
                                        {% assign parameter_description = parameter[1].description %}
                                        {% assign parameter_type = parameter[1].type %}
                                        <tr>
                                          <td style="width: 25%;" align="right"><strong>{{ parameter_name }} ({{ parameter_type }})</strong></td>
                                          <td style="padding-left: 5px;">{{ parameter_description }}</td>
                                      </tr>
                                      {% endfor %}
                                    </table>
                                </td>
                              </tr>

                            {% endif %}
                          {% endfor %}
                        {% endif %}
                      <!-- End Body -->

                      <!-- Begin Response -->

                      {% for response in responses %}

                        {% assign response_code = response[0] %}
                        {% assign this_response = response[1] %}
                        {% if response_code == '200' %}

                          {% assign this_response = this_response.schema.items['$ref'] %}
                          {% assign this_response = this_response | replace: '/definitions/','' %}
                          {% assign this_response = this_response | replace: '#','' %}

                            <tr style="background-color: #FFF;">
                              <td style="font-size: 12px; padding: 5px;"><strong>Reponse Body: ({{ this_response }})</strong></td>
                            </tr>
                            <tr>
                              <td align="left" style="font-size: 12px; padding: 10px;">
                                  <table style="width: 75%;" cellspacing="3" cellpadding="2">
                                      {% for parameter in schema[this_response].properties %}
                                      
                                        {% assign parameter_name = parameter[0] %}
                                        {% assign parameter_description = parameter[1].description %}
                                        {% assign parameter_type = parameter[1].type %}
                                        
                                        {% if parameter_type == 'array' %}
                                        
                                          {% assign this_schema = parameter[1].items['$ref'] %}
                                          {% assign this_schema = this_schema | replace: '/definitions/','' %}
                                          {% assign this_schema = this_schema | replace: '#','' %}                                        
                                          <tr>
                                            <td style="width: 25%;" align="right"><strong>{{ parameter_name }} ({{ this_schema }})</strong></td>
                                            <td style="padding-left: 5px;">{{ parameter_description }}</td>
                                          </tr>                                        
                                          <tr>
                                            <td style="width: 5%;" align="right"></td>
                                            <td style="padding-left: 5px;">
                                              {% for sub_parameter in schema[this_schema].properties %}
                                                {% assign sub_parameter_name = sub_parameter[0] %}
                                                {% assign sub_parameter_description = sub_parameter[1].description %}
                                                {% assign sub_parameter_type = sub_parameter[1].type %}                                            
                                                <strong>{{ sub_parameter_name }}</strong> ({{ parameter_type }}) - {{ sub_parameter_description }}<br />
                                              {% endfor %}                                            
                                            </td>
                                          </tr>                                                                                
                                        {% else %}
                                          <tr>
                                            <td style="width: 25%;" align="right"><strong>{{ parameter_name }} ({{ parameter_type }})</strong></td>
                                            <td style="padding-left: 5px;">{{ parameter_description }}</td>
                                          </tr>                                      
                                        {% endif %}
                                      {% endfor %}
                                    </table>
                                </td>
                              </tr>
                          {% endif %}
                        {% endfor %}
                      <!-- End Response -->

                      </table>
                    </td>
                  </tr>
                {% endif %}

              {% endfor %}
            {% endfor %}

        {% endfor %}
      </table>
    </td>
  </tr>
</table>
