swagger: '2.0'
info:
  title: "Open Referral API"
  description: "This is a specification describing the Open Referral API, using the Human Services Specification. This has been extracted from the Ohana API deployment, but will be standardized to refer to the universal standard that will apply to any Open Referral compliant API."
  termsOfService: "https://openreferral.org/documentation/"
  contact:
    name: Open Referral
    url: https://openreferral.org/
    email: info@openreferral.org
  license:
    name: Open Data Commons Public Domain
    url: http://opendatacommons.org/licenses/pddl/
  version: v1.1
host: api.open.referral.adopta.agency
basePath: /
schemes:
- http
produces:
- application/json
- application/xml
- text/csv
- text/html
paths:
  /contacts/:
    get:
      summary: Get Contacts
      description: Get Contacts
      operationId: listContacts
      parameters:
        - in: query
          type: number
          name: query
          description: A query to filter list by.
        - in: query
          type: number
          name: page
          description: The particular page of results.
        - in: query
          type: number
          name: per_page
          description: Amount of locations to return per page, up to 100.
      responses:
        '200':
          description: Contact Response
          schema:
            type: array
            items:
              $ref: "#/definitions/contact"
      tags:
      - Contacts
    post:
      summary: Add Contact
      description: Add contact
      operationId: addContact
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/contact'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Contact Response
          schema:
            type: array
            items:
              $ref: "#/definitions/contact"
      tags:
      - Contacts
  /contacts/{contact_id}/:
    get:
      summary: Get Contact
      description: Get Contact
      operationId: getContact
      parameters:
        - in: path
          required: true
          type: string
          name: contact_id
          description: 'The contact id.'
      responses:
        '200':
          description: Contact Response
          schema:
            type: array
            items:
              $ref: "#/definitions/contact"
      tags:
      - Contacts
    put:
      summary: Update Contact
      description: Update an existing contact.
      operationId: updateContact
      parameters:
        - in: path
          required: true
          type: string
          name: contact_id
          description: 'The contact id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/contact'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Contact Response
          schema:
            type: array
            items:
              $ref: "#/definitions/contact"
      tags:
      - Contacts
    delete:
      summary: Delete Contact
      description: Delete Contact
      operationId: deleteContact
      parameters:
        - in: path
          required: true
          type: string
          name: contact_id
          description: 'The contact id.'
      tags:
      - Contacts
      security:
      - appid: []
      - appkey: []
      responses:
        '200':
          description: Contact Response
          schema:
            type: array
            items:
              $ref: "#/definitions/contact"
  /contacts/{contact_id}/phones/:
    get:
      summary: Get Phones
      description: Get Phones
      operationId: listContactPhones
      parameters:
        - in: path
          required: true
          type: string
          name: contact_id
          description: 'The unique contact id.'
      responses:
        '200':
          description: Phone Response
          schema:
            type: array
            items:
              $ref: "#/definitions/phone"
      tags:
      - Contacts
    post:
      summary: Add Phone
      description: Add Phone
      operationId: addContactPhone
      parameters:
        - in: path
          required: true
          type: string
          name: contact_id
          description: 'The unique contact id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/phone'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Phone Response
          schema:
            type: array
            items:
              $ref: "#/definitions/phone"
      tags:
      - Contacts
  /contacts/{contact_id}/phones/{phone_id}/:
    get:
      summary: Get Phone
      description: get Phone
      operationId: getContactPhone
      parameters:
        - in: path
          required: true
          type: string
          name: contact_id
          description: The unique contact id.
        - in: path
          required: true
          type: string
          name: phone_id
          description: The unique phone id.
      responses:
        '200':
          description: Contact Response
          schema:
            type: array
            items:
              $ref: "#/definitions/phone"
      tags:
      - Contacts
    put:
      summary: Update Phone
      description: Update Phone
      operationId: updateContactPhone
      parameters:
        - in: path
          required: true
          type: string
          name: contact_id
          description: 'The unique contact id.'
        - in: path
          required: true
          type: string
          name: phone_id
          description: 'The unique phone id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/phone'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Phone Response
          schema:
            type: array
            items:
              $ref: "#/definitions/phone"
      tags:
      - Contacts
    delete:
      summary: Delete Phone
      description: Delete Phone
      operationId: deleteContactPhone
      parameters:
        - in: path
          required: true
          type: string
          name: contact_id
          description: 'The unique contact id.'
        - in: path
          required: true
          type: string
          name: phone_id
          description: 'The unique phone id.'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Phone Response
          schema:
            type: array
            items:
              $ref: "#/definitions/phone"
      tags:
      - Contacts
  /locations/:
    get:
      summary: Get Locations
      description: Get Locations
      operationId: listLocations
      parameters:
        - in: query
          type: number
          name: page
          description: The particular page of results.
        - in: query
          type: number
          name: per_page
          description: Amount of locations to return per page, up to 100.
      responses:
        '200':
          description: Location Response
          schema:
            type: array
            items:
              $ref: "#/definitions/location"
      tags:
      - Locations
    post:
      summary: Add Location
      description: Add Location
      operationId: addLocation
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/location'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Location Response
          schema:
            type: array
            items:
              $ref: "#/definitions/location"
      tags:
      - Locations
  /locations/{location_id}/:
    get:
      summary: Get Location
      description: Get Location
      operationId: getLocation
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: The location id.
      responses:
        '200':
          description: Location Response
          schema:
            type: array
            items:
              $ref: "#/definitions/location"
      tags:
      - Locations
    put:
      summary: Update Location
      description: Update Location
      operationId: updateLocation
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/location'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Location Response
          schema:
            type: array
            items:
              $ref: "#/definitions/location"
      tags:
      - Locations
    delete:
      summary: Delete Location
      description: Delete Location
      operationId: deleteLocation
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: The location id.
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Location Response
          schema:
            type: array
            items:
              $ref: "#/definitions/location"
      tags:
      - Locations
  /locations/{location_id}/holiday-schedule/:
    get:
      summary: Get Holiday Schedule
      description: Get Holiday Schedule
      operationId: listLocationHolidaySchedules
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
      responses:
        '200':
          description: Holiday Schedule Response
          schema:
            type: array
            items:
              $ref: "#/definitions/holiday_schedule"
      tags:
      - Locations
    post:
      summary: Add Holiday Schedule
      description: Add Holiday Schedule
      operationId: addLocationHolidaySchedule
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/holiday_schedule'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Holiday Schedule Response
          schema:
            type: array
            items:
              $ref: "#/definitions/holiday_schedule"
      tags:
      - Locations
  /locations/{location_id}/holiday-schedule/{holiday_schedule_id}/:
    get:
      summary: Get Holiday Schedule
      description: Get Holiday Schedule
      operationId: getLocationHolidaySchedule
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: path
          required: true
          type: string
          name: holiday_schedule_id
          description: 'The unique holiday schedule id.'
      responses:
        '200':
          description: Holiday Schedule Response
          schema:
            type: array
            items:
              $ref: "#/definitions/holiday_schedule"
      tags:
      - Locations
    put:
      summary: Update Holiday Schedule
      description: Update Holiday Schedule
      operationId: updateLocationHolidaySchedule
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: path
          required: true
          type: string
          name: holiday_schedule_id
          description: 'The unique holiday schedule id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/holiday_schedule'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Holiday Schedule Response
          schema:
            type: array
            items:
              $ref: "#/definitions/holiday_schedule"
      tags:
      - Locations
    delete:
      summary: Delete Holiday Schedule
      description: Delete Holiday Schedule
      operationId: deleteLocationHolidaySchedule
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: path
          required: true
          type: string
          name: holiday_schedule_id
          description: 'The unique holiday schdule id.'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Holiday Schedule Response
          schema:
            type: array
            items:
              $ref: "#/definitions/holiday_schedule"
      tags:
      - Locations
  /locations/{location_id}/languages/:
    get:
      summary: Get Languages
      description: Get Languages
      operationId: listLocationLanguages
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
      responses:
        '200':
          description: Language Response
          schema:
            type: array
            items:
              $ref: "#/definitions/language"
      tags:
      - Locations
    post:
      summary: Add Languages
      description: Add Languages
      operationId: addLocationLanguages
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/language'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Language Response
          schema:
            type: array
            items:
              $ref: "#/definitions/language"
      tags:
      - Locations
  /locations/{location_id}/languages/{language_id}/:
    get:
      summary: Get Languages
      description: Get Languages
      operationId: getLocationLanguages
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: path
          required: true
          type: string
          name: language_id
          description: 'The unique language id.'
      responses:
        '200':
          description: Language Response
          schema:
            type: array
            items:
              $ref: "#/definitions/language"
      tags:
      - Locations
    put:
      summary: Update Languages
      description: Update Languages
      operationId: updateLocationLanguages
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: path
          required: true
          type: string
          name: language_id
          description: 'The unique language id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/language'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Language Response
          schema:
            type: array
            items:
              $ref: "#/definitions/language"
      tags:
      - Locations
    delete:
      summary: Delete Languages
      description: Delete Languages
      operationId: deleteLocationLanguages
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: path
          required: true
          type: string
          name: language_id
          description: 'The unique language id.'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Language Response
          schema:
            type: array
            items:
              $ref: "#/definitions/language"
      tags:
      - Locations
  /locations/{location_id}/postal-address/:
    get:
      summary: Get Postal Addresses
      description: Get Postal Addresses
      operationId: listLocationPostalAddresses
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
      responses:
        '200':
          description: Postal Address Response
          schema:
            type: array
            items:
              $ref: "#/definitions/postal_address"
      tags:
      - Locations
    post:
      summary: Add Postal Adress
      description: Add Postal Adress
      operationId: addLocationPostalAddress
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/postal_address'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Postal Address Response
          schema:
            type: array
            items:
              $ref: "#/definitions/postal_address"
      tags:
      - Locations
  /locations/{location_id}/postal-address/{postal_address_id}/:
    get:
      summary: Get Postal Address
      description: Get Postal Address
      operationId: getLocationPostalAddress
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: path
          required: true
          type: string
          name: postal_address_id
          description: 'The unique postal address id.'
      responses:
        '200':
          description: Postal Address Response
          schema:
            type: array
            items:
              $ref: "#/definitions/postal_address"
      tags:
      - Locations
    put:
      summary: Update Postal Address
      description: Postal Mailing Address
      operationId: updateLocationPostalAddress
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: path
          required: true
          type: string
          name: postal_address_id
          description: 'The unique postal address id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/postal_address'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Postal Address Response
          schema:
            type: array
            items:
              $ref: "#/definitions/postal_address"
      tags:
      - Locations
    delete:
      summary: Delete Postal Address
      description: Delete Postal Address
      operationId: deleteLocationPostalAddress
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: path
          required: true
          type: string
          name: postal_address_id
          description: 'The unique postal address id.'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Postal Address Response
          schema:
            type: array
            items:
              $ref: "#/definitions/postal_address"
      tags:
      - Locations
  /locations/{location_id}/physical-address/:
    get:
      summary: Get Physical Address
      description: Get Physical Address
      operationId: listLocationPhysicalAddresses
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
      responses:
        '200':
          description: Postal Address Response
          schema:
            type: array
            items:
              $ref: "#/definitions/postal_address"
      tags:
      - Locations
    post:
      summary: Add Physical Adress
      description: Add Physical Adress
      operationId: addLocationPhysicalAddress
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/postal_address'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Postal Address Response
          schema:
            type: array
            items:
              $ref: "#/definitions/postal_address"
      tags:
      - Locations
  /locations/{location_id}/physical-address/{postal_address_id}/:
    get:
      summary: Get Physical Address
      description: Get Physical Address
      operationId: getLocationPhysicalAddress
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: path
          required: true
          type: string
          name: postal_address_id
          description: 'The unique postal address id.'
      responses:
        '200':
          description: Postal Address Response
          schema:
            type: array
            items:
              $ref: "#/definitions/postal_address"
      tags:
      - Locations
    put:
      summary: Update Physical Address
      description: Postal Physical Address
      operationId: updateLocationPhysicalAddress
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: path
          required: true
          type: string
          name: postal_address_id
          description: 'The unique postal address id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/postal_address'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Postal Address Response
          schema:
            type: array
            items:
              $ref: "#/definitions/postal_address"
      tags:
      - Locations
    delete:
      summary: Delete Physical Address
      description: Delete Physical Address
      operationId: deleteLocationPhysicalAddress
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: path
          required: true
          type: string
          name: postal_address_id
          description: 'The unique postal address id.'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Postal Address Response
          schema:
            type: array
            items:
              $ref: "#/definitions/postal_address"
      tags:
      - Locations
  /locations/{location_id}/phones/:
    get:
      summary: Get Phones
      description: Get Phones
      operationId: listLocationPhones
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
      responses:
        '200':
          description: Phone Response
          schema:
            type: array
            items:
              $ref: "#/definitions/phone"
      tags:
      - Locations
    post:
      summary: Add Phone
      description: Add Phone
      operationId: addLocationPhone
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/phone'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Phone Response
          schema:
            type: array
            items:
              $ref: "#/definitions/phone"
      tags:
      - Locations
  /locations/{location_id}/phones/{phone_id}/:
    get:
      summary: Get Phone
      description: get Phone
      operationId: getLocationPhone
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: path
          required: true
          type: string
          name: phone_id
          description: 'The unique phone id.'
      responses:
        '200':
          description: Phone Response
          schema:
            type: array
            items:
              $ref: "#/definitions/phone"
      tags:
      - Locations
    put:
      summary: Update Phone
      description: Update Phone
      operationId: updateLocationPhone
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: path
          required: true
          type: string
          name: phone_id
          description: 'The unique phone id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/phone'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Phone Response
          schema:
            type: array
            items:
              $ref: "#/definitions/phone"
      tags:
      - Locations
    delete:
      summary: Delete Phone
      description: Delete Phone
      operationId: deleteLocationPhone
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: path
          required: true
          type: string
          name: phone_id
          description: 'The unique phone id.'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Phone Response
          schema:
            type: array
            items:
              $ref: "#/definitions/phone"
      tags:
      - Locations
  /locations/{location_id}/regular-schedule/:
    get:
      summary: Get Regular Schedules
      description: Get Regular Schedules
      operationId: listLocationRegularSchedules
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
      responses:
        '200':
          description: Regular Schedule Response
          schema:
            type: array
            items:
              $ref: "#/definitions/regular_schedule"
      tags:
      - Locations
    post:
      summary: Add Regular Schedule
      description: Add Regular Schedule
      operationId: addLocationRegularSchedule
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/regular_schedule'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Regular Schedule Response
          schema:
            type: array
            items:
              $ref: "#/definitions/regular_schedule"
      tags:
      - Locations
  /locations/{location_id}/regular-schedule/{regular_schedule_id}/:
    get:
      summary: Get Regular Schedule
      description: Get Regular Schedule
      operationId: getLocationRegularSchedule
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: path
          required: true
          type: string
          name: regular_schedule_id
          description: 'The unique regular schedule id.'
      responses:
        '200':
          description: Regular Schedule Response
          schema:
            type: array
            items:
              $ref: "#/definitions/regular_schedule"
      tags:
      - Locations
    put:
      summary: Update Regular Schedule
      description: Update Regular Schedule
      operationId: updateLocationRegularSchedule
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: path
          required: true
          type: string
          name: regular_schedule_id
          description: 'The unique regular schedule id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/regular_schedule'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Regular Schedule Response
          schema:
            type: array
            items:
              $ref: "#/definitions/regular_schedule"
      tags:
      - Locations
    delete:
      summary: Delete Regular Schedule
      description: Delete Regular Schedule
      operationId: deleteLocationRegularSchedule
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: path
          required: true
          type: string
          name: regular_schedule_id
          description: 'The unique regular schedule id.'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Regular Schedule Response
          schema:
            type: array
            items:
              $ref: "#/definitions/regular_schedule"
      tags:
      - Locations
  /locations/{location_id}/services/:
    get:
      summary: Get Services
      description: Get Services
      operationId: listLocationServices
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
      responses:
        '200':
          description: Service Response
          schema:
            type: array
            items:
              $ref: "#/definitions/service"
      tags:
      - Locations
    post:
      summary: Add Service
      description: Add Service
      operationId: addLocationService
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/service'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Service Response
          schema:
            type: array
            items:
              $ref: "#/definitions/service"
      tags:
      - Locations
  /locations/{location_id}/services/{service_id}/:
    get:
      summary: Get Service
      description: Get Service
      operationId: getLocationService
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
      responses:
        '200':
          description: Service Response
          schema:
            type: array
            items:
              $ref: "#/definitions/service"
      tags:
      - Locations
    put:
      summary: Update Service
      description: Update Service
      operationId: updateLocationService
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/service'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Service Response
          schema:
            type: array
            items:
              $ref: "#/definitions/service"
      tags:
      - Locations
    delete:
      summary: Delete Service
      description: Delete Service
      operationId: deleteLocationService
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Service Response
          schema:
            type: array
            items:
              $ref: "#/definitions/service"
      tags:
      - Locations
  /locations/{location_id}/accessibility/:
    get:
      summary: Get Accessibility For Disabilities
      description: Get Accessibility For Disabilities
      operationId: listLocationAccessibilityForDisabilities
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
      responses:
        '200':
          description: Accessibility For Disabilities Response
          schema:
            type: array
            items:
              $ref: "#/definitions/accessibility_for_disabilities"
      tags:
      - Locations
    post:
      summary: Add Accessibility For Disabilities
      description: Add Accessibility For Disabilities
      operationId: addLocationAccessibilityForDisabilities
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/accessibility_for_disabilities'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Accessibility For Disabilities Response
          schema:
            type: array
            items:
              $ref: "#/definitions/accessibility_for_disabilities"
      tags:
      - Locations
  /locations/{location_id}/accessibility/{accessibility_id}/:
    get:
      summary: Get Accessibility For Disabilities
      description: Get Accessibility For Disabilities
      operationId: getLocationAccessibilityForDisabilities
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: path
          required: true
          type: string
          name: accessibility_id
          description: 'The unique accessibility for disabilities id.'
      responses:
        '200':
          description: Accessibility For Disabilities Response
          schema:
            type: array
            items:
              $ref: "#/definitions/accessibility_for_disabilities"
      tags:
      - Locations
    put:
      summary: Update Accessibility For Disabilities
      description: Update Accessibility For Disabilities
      operationId: updateLocationAccessibilityForDisabilities
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: path
          required: true
          type: string
          name: accessibility_id
          description: 'The unique accessibility for disabilities id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/accessibility_for_disabilities'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Accessibility For Disabilities Response
          schema:
            type: array
            items:
              $ref: "#/definitions/accessibility_for_disabilities"
      tags:
      - Locations
    delete:
      summary: Delete Accessibility For Disabilities
      description: Delete Accessibility For Disabilities
      operationId: deleteLocationAccessibilityForDisabilities
      parameters:
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: path
          required: true
          type: string
          name: accessibility_id
          description: 'The unique accessibility for disabilities id.'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Accessibility For Disabilities Response
          schema:
            type: array
            items:
              $ref: "#/definitions/accessibility_for_disabilities"
      tags:
      - Locations
  /organizations/:
    get:
      summary: Get Organizations
      description: Get Organizations
      operationId: listOrganizations
      parameters:
        - in: query
          type: number
          name: page
          description: The particular page of results.
        - in: query
          type: number
          name: per_page
          description: Amount of locations to return per page, up to 100.
      responses:
        '200':
          description: Organization Response
          schema:
            type: array
            items:
              $ref: "#/definitions/organization"
      tags:
      - Organizations
    post:
      summary: Add organization
      description: Addorganization
      operationId: addOrganization
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/organization'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Organization Response
          schema:
            type: array
            items:
              $ref: "#/definitions/organization"
      tags:
      - Organizations
  /organizations/{organization_id}/:
    get:
      summary: Get Organization
      description: Get Organization
      operationId: getOrganization
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: The organization id.
      responses:
        '200':
          description: Organization Response
          schema:
            type: array
            items:
              $ref: "#/definitions/organization"
      tags:
      - Organizations
    put:
      summary: Update Organization
      description: Update Organization
      operationId: updateOrganization
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/organization'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Organization Response
          schema:
            type: array
            items:
              $ref: "#/definitions/organization"
      tags:
      - Organizations
    delete:
      summary: Delete Organization
      description: Delete Organization
      operationId: deleteOrganization
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: The organization id.
      tags:
      - Organizations
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Organization Response
          schema:
            type: array
            items:
              $ref: "#/definitions/organization"
  /organizations/{organization_id}/contacts/:
    get:
      summary: Get Contacts
      description: Get Contacts
      operationId: listOrganizationContacts
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
      responses:
        '200':
          description: Contact Response
          schema:
            type: array
            items:
              $ref: "#/definitions/contact"
      tags:
      - Organizations
    post:
      summary: Add Contact
      description: Add Contact
      operationId: addOrganizationContact
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/contact'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Contact Response
          schema:
            type: array
            items:
              $ref: "#/definitions/contact"
      tags:
      - Organizations
  /organizations/{organization_id}/contacts/{contact_id}/:
    get:
      summary: Get Contact
      description: Get Contact
      operationId: getOrganizationContact
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: path
          required: true
          type: string
          name: contact_id
          description: 'The unique contact id.'
      responses:
        '200':
          description: Contact Response
          schema:
            type: array
            items:
              $ref: "#/definitions/contact"
      tags:
      - Organizations
    put:
      summary: Update Contact
      description: Update Contact
      operationId: updateOrganizationContact
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: path
          required: true
          type: string
          name: contact_id
          description: 'The unique contact id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/contact'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Contact Response
          schema:
            type: array
            items:
              $ref: "#/definitions/contact"
      tags:
      - Organizations
    delete:
      summary: Delete Contact
      description: Delete Contact
      operationId: deleteOrganizationContact
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: path
          required: true
          type: string
          name: contact_id
          description: 'The unique contact id.'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Contact Response
          schema:
            type: array
            items:
              $ref: "#/definitions/contact"
      tags:
      - Organizations
  /organizations/{organization_id}/funding/:
    get:
      summary: Get Fundings
      description: Get Fundings
      operationId: listOrganizationFundings
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
      responses:
        '200':
          description: Funding Response
          schema:
            type: array
            items:
              $ref: "#/definitions/funding"
      tags:
      - Organizations
    post:
      summary: Add Funding
      description: Add Funding
      operationId: addOrganizationFunding
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/funding'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Funding Response
          schema:
            type: array
            items:
              $ref: "#/definitions/funding"
      tags:
      - Organizations
  /organizations/{organization_id}/funding/{funding_id}/:
    get:
      summary: Get Funding
      description: Get Funding
      operationId: getOrganizationFunding
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: path
          required: true
          type: string
          name: funding_id
          description: 'The unique funding id.'
      responses:
        '200':
          description: Funding Response
          schema:
            type: array
            items:
              $ref: "#/definitions/funding"
      tags:
      - Organizations
    put:
      summary: Update Funding
      description: Update Funding
      operationId: updateOrganizationFunding
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: path
          required: true
          type: string
          name: funding_id
          description: 'The unique funding id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/funding'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Funding Response
          schema:
            type: array
            items:
              $ref: "#/definitions/funding"
      tags:
      - Organizations
    delete:
      summary: Delete Funding
      description: Delete Funding
      operationId: deleteOrganizationFunding
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: path
          required: true
          type: string
          name: funding_id
          description: 'The unique funding id.'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Funding Response
          schema:
            type: array
            items:
              $ref: "#/definitions/funding"
      tags:
      - Organizations
  /organizations/{organization_id}/locations/:
    get:
      summary: Get Location
      description: Get Location
      operationId: listOrganizationLocations
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: The id for the organization.
      responses:
        '200':
          description: Location Response
          schema:
            type: array
            items:
              $ref: "#/definitions/location"
      tags:
      - Organizations
    post:
      summary: Add location
      description: Add location
      operationId: addOrganizationLocation
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/location'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Location Response
          schema:
            type: array
            items:
              $ref: "#/definitions/location"
      tags:
      - Organizations
  /organizations/{organization_id}/locations/{location_id}/:
    get:
      summary: Get Location
      description: Get Location
      operationId: getOrganizationLocation
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
      responses:
        '200':
          description: Location Response
          schema:
            type: array
            items:
              $ref: "#/definitions/location"
      tags:
      - Organizations
    put:
      summary: Update location
      description: Update location
      operationId: updateOrganizationLocation
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/location'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Location Response
          schema:
            type: array
            items:
              $ref: "#/definitions/location"
      tags:
      - Organizations
    delete:
      summary: Delete Location
      description: Delete Location
      operationId: deleteOrganizationLocation
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Location Response
          schema:
            type: array
            items:
              $ref: "#/definitions/location"
      tags:
      - Organizations
  /organizations/{organization_id}/phones/:
    get:
      summary: Get Phones
      description: Get Phones
      operationId: listOrganizationPhones
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
      responses:
        '200':
          description: Phone Response
          schema:
            type: array
            items:
              $ref: "#/definitions/phone"
      tags:
      - Organizations
    post:
      summary: Add Phone
      description: Add Phone
      operationId: addOrganizationPhone
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/phone'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Phone Response
          schema:
            type: array
            items:
              $ref: "#/definitions/phone"
      tags:
      - Organizations
  /organizations/{organization_id}/phones/{phone_id}/:
    get:
      summary: Get Phone
      description: get Phone
      operationId: getOrganizationPhone
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: path
          required: true
          type: string
          name: phone_id
          description: 'The unique phone id.'
      responses:
        '200':
          description: Phone Response
          schema:
            type: array
            items:
              $ref: "#/definitions/phone"
      tags:
      - Organizations
    put:
      summary: Update Phone
      description: Update Phone
      operationId: updateOrganizationPhone
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: path
          required: true
          type: string
          name: phone_id
          description: 'The unique phone id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/phone'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Phone Response
          schema:
            type: array
            items:
              $ref: "#/definitions/phone"
      tags:
      - Organizations
    delete:
      summary: Delete Phone
      description: Delete Phone
      operationId: deleteOrganizationPhone
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: path
          required: true
          type: string
          name: phone_id
          description: 'The unique phone id.'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Phone Response
          schema:
            type: array
            items:
              $ref: "#/definitions/phone"
      tags:
      - Organizations
  /organizations/{organization_id}/programs/:
    get:
      summary: Get Programs
      description: Get Programs
      operationId: listOrganizationPrograms
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
      responses:
        '200':
          description: Program Response
          schema:
            type: array
            items:
              $ref: "#/definitions/program"
      tags:
      - Organizations
    post:
      summary: Add Program
      description: Add Program
      operationId: addOrganizationProgram
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/program'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Program Response
          schema:
            type: array
            items:
              $ref: "#/definitions/program"
      tags:
      - Organizations
  /organizations/{organization_id}/programs/{program_id}/:
    get:
      summary: Get Program
      description: Get Program
      operationId: getOrganizationProgram
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: path
          required: true
          type: string
          name: program_id
          description: 'The unique program id.'
      responses:
        '200':
          description: Program Response
          schema:
            type: array
            items:
              $ref: "#/definitions/program"
      tags:
      - Organizations
    put:
      summary: Update Program
      description: Update Program
      operationId: updateOrganizationProgram
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: path
          required: true
          type: string
          name: program_id
          description: 'The unique program id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/program'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Program Response
          schema:
            type: array
            items:
              $ref: "#/definitions/program"
      tags:
      - Organizations
    delete:
      summary: Delete Program
      description: Delete Program
      operationId: deleteOrganizationProgram
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: path
          required: true
          type: string
          name: program_id
          description: 'The unique program id.'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Program Response
          schema:
            type: array
            items:
              $ref: "#/definitions/program"
      tags:
      - Organizations
  /organizations/{organization_id}/programs/{program_id}/services/:
    get:
      summary: Get Service
      description: Get Service
      operationId: listProgramServices
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: path
          required: true
          type: string
          name: program_id
          description: 'The unique program id.'
      responses:
        '200':
          description: Service Response
          schema:
            type: array
            items:
              $ref: "#/definitions/service"
      tags:
      - Organizations
    post:
      summary: Add Service
      description: Add Service
      operationId: addProgramService
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: path
          required: true
          type: string
          name: program_id
          description: 'The unique program id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/service'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Service Response
          schema:
            type: array
            items:
              $ref: "#/definitions/service"
      tags:
      - Organizations
  /organizations/{organization_id}/programs/{program_id}/services/{service_id}/:
    get:
      summary: Get Service
      description: Get Service
      operationId: getProgramService
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: path
          required: true
          type: string
          name: program_id
          description: 'The unique program id.'
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
      responses:
        '200':
          description: Service Response
          schema:
            type: array
            items:
              $ref: "#/definitions/service"
      tags:
      - Organizations
    put:
      summary: Update Service
      description: Update Service
      operationId: updateProgramService
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: path
          required: true
          type: string
          name: program_id
          description: 'The unique program id.'
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/service'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Service Response
          schema:
            type: array
            items:
              $ref: "#/definitions/service"
      tags:
      - Organizations
    delete:
      summary: Delete Service
      description: Delete Service
      operationId: deleteProgramService
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: path
          required: true
          type: string
          name: program_id
          description: 'The unique program id.'
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Service Response
          schema:
            type: array
            items:
              $ref: "#/definitions/service"
      tags:
      - Organizations
  /organizations/{organization_id}/services/:
    get:
      summary: Get Services
      description: Get Services
      operationId: listOrganizationServices
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
      responses:
        '200':
          description: Service Response
          schema:
            type: array
            items:
              $ref: "#/definitions/service"
      tags:
      - Organizations
    post:
      summary: Add Service
      description: Add Service
      operationId: addOrganizationService
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/service'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Service Response
          schema:
            type: array
            items:
              $ref: "#/definitions/service"
      tags:
      - Organizations
  /organizations/{organization_id}/services/{service_id}/:
    get:
      summary: Get Service
      description: Get Service
      operationId: getOrganizationService
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
      responses:
        '200':
          description: Service Response
          schema:
            type: array
            items:
              $ref: "#/definitions/service"
      tags:
      - Organizations
    put:
      summary: Update Service
      description: Update Service
      operationId: updateOrganizationService
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/service'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Service Response
          schema:
            type: array
            items:
              $ref: "#/definitions/service"
      tags:
      - Organizations
    delete:
      summary: Delete Service
      description: Delete Service
      operationId: deleteOrganizationService
      parameters:
        - in: path
          required: true
          type: string
          name: organization_id
          description: 'The unique organization id.'
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Service Response
          schema:
            type: array
            items:
              $ref: "#/definitions/service"
      tags:
      - Organizations
  /search/:
    get:
      summary: Search
      description: Search
      operationId: search
      parameters:
        - in: query
          type: string
          name: category
        - in: query
          type: string
          name: email
        - in: query
          type: string
          name: keyword
        - in: query
          type: string
          name: language
        - in: query
          type: string
          name: lat_lng
        - in: query
          type: string
          name: location
        - in: query
          type: string
          name: org_name
        - in: query
          type: string
          name: page
        - in: query
          type: string
          name: per_page
        - in: query
          type: string
          name: radius
        - in: query
          type: string
          name: service_area
        - in: query
          type: string
          name: status
      responses:
        '200':
          description: Successful SSearch
          schema:
            type: array
            items:
              $ref: "#/definitions/search"
      tags:
      - Search
  /services/:
    get:
      summary: Get Services
      description: Get Services
      operationId: listServices
      parameters:
        - in: query
          type: number
          name: page
          description: The particular page of results.
        - in: query
          type: number
          name: per_page
          description: Amount of locations to return per page, up to 100.
      responses:
        '200':
          description: Service Response
          schema:
            type: array
            items:
              $ref: "#/definitions/service"
      tags:
      - Services
    post:
      summary: Add Service
      description: Add Service
      operationId: addService
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/service'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Service Response
          schema:
            type: array
            items:
              $ref: "#/definitions/service"
      tags:
      - Services
  /services/{service_id}/:
    get:
      summary: Get Service
      description: Get Service
      operationId: getService
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
      responses:
        '200':
          description: Organization Response
          schema:
            type: array
            items:
              $ref: "#/definitions/organization"
      tags:
      - Services
    put:
      summary: Update Service
      description: Update Service
      operationId: updateService
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/service'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Service Response
          schema:
            type: array
            items:
              $ref: "#/definitions/service"
      tags:
      - Services
    delete:
      summary: Delete Service
      description: Delete Service
      operationId: deleteService
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
      tags:
      - Services
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Service Response
          schema:
            type: array
            items:
              $ref: "#/definitions/service"
  /services/{service_id}/contacts/:
    get:
      summary: Get Contacts
      description: Get Contacts
      operationId: listServiceContacts
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
      responses:
        '200':
          description: Contact Response
          schema:
            type: array
            items:
              $ref: "#/definitions/contact"
      tags:
      - Services
    post:
      summary: Add Contact
      description: Add Contact
      operationId: addServiceContact
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/contact'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Contact Response
          schema:
            type: array
            items:
              $ref: "#/definitions/contact"
      tags:
      - Services
  /services/{service_id}/contacts/{contact_id}/:
    get:
      summary: Get Contact
      description: Get Contact
      operationId: getServiceContact
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: path
          required: true
          type: string
          name: contact_id
          description: 'The unique contact id.'
      responses:
        '200':
          description: Contact Response
          schema:
            type: array
            items:
              $ref: "#/definitions/contact"
      tags:
      - Services
    put:
      summary: Update Contact
      description: Update Contact
      operationId: updateServiceContact
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: path
          required: true
          type: string
          name: contact_id
          description: 'The unique contact id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/contact'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Contact Response
          schema:
            type: array
            items:
              $ref: "#/definitions/contact"
      tags:
      - Services
    delete:
      summary: Delete Contact
      description: Delete Contact
      operationId: deleteServiceContact
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: path
          required: true
          type: string
          name: contact_id
          description: 'The unique contact id.'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Contact Response
          schema:
            type: array
            items:
              $ref: "#/definitions/contact"
      tags:
      - Services
  /services/{service_id}/eligibility/:
    get:
      summary: Get Eligibilities
      description: Get Eligibilities
      operationId: listServiceEligibilities
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
      responses:
        '200':
          description: Eligibility Response
          schema:
            type: array
            items:
              $ref: "#/definitions/eligibility"
      tags:
      - Services
    post:
      summary: Add Eligibility
      description: Add Eligibility
      operationId: addServiceEligibility
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/eligibility'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Eligibility Response
          schema:
            type: array
            items:
              $ref: "#/definitions/eligibility"
      tags:
      - Services
  /services/{service_id}/eligibility/{eligibility_id}/:
    get:
      summary: Get Eligibility
      description: Get Eligibility
      operationId: getServiceEligibility
      parameters:
        - in: path
          required: true
          type: string
          name: eligibility_id
          description: 'The unique eligibility id.'
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
      responses:
        '200':
          description: Eligibility Response
          schema:
            type: array
            items:
              $ref: "#/definitions/eligibility"
      tags:
      - Services
    put:
      summary: Update Eligibility
      description: Update Eligibility
      operationId: updateServiceEligibility
      parameters:
        - in: path
          required: true
          type: string
          name: eligibility_id
          description: 'The unique eligibility id.'
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/eligibility'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Eligibility Response
          schema:
            type: array
            items:
              $ref: "#/definitions/eligibility"
      tags:
      - Services
    delete:
      summary: Eligibility Contact
      description: Delete Eligibility
      operationId: deleteServiceEligibility
      parameters:
        - in: path
          required: true
          type: string
          name: eligibility_id
          description: 'The unique eligibility id.'
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Eligibility Response
          schema:
            type: array
            items:
              $ref: "#/definitions/eligibility"
      tags:
      - Services
  /services/{service_id}/fees/:
    get:
      summary: Get Fees
      description: Get Fees
      operationId: listServiceFees
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
      responses:
        '200':
          description: Fees Response
          schema:
            type: array
            items:
              $ref: "#/definitions/fee"
      tags:
      - Services
    post:
      summary: Add Fee
      description: Add Fee
      operationId: addServiceFee
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/fee'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Fees Response
          schema:
            type: array
            items:
              $ref: "#/definitions/fee"
      tags:
      - Services
  /services/{service_id}/fees/{feed_id}/:
    get:
      summary: Get Fee
      description: Get Fee
      operationId: getServiceFee
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: path
          required: true
          type: string
          name: feed_id
          description: 'The unique feed id.'
      responses:
        '200':
          description: Fees Response
          schema:
            type: array
            items:
              $ref: "#/definitions/fee"
      tags:
      - Services
    put:
      summary: Update Fee
      description: Update Fee
      operationId: updateServiceFee
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: path
          required: true
          type: string
          name: feed_id
          description: 'The unique feed id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/fee'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Fees Response
          schema:
            type: array
            items:
              $ref: "#/definitions/fee"
      tags:
      - Services
    delete:
      summary: Delete Fee
      description: Delete Fee
      operationId: deleteServiceFee
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: path
          required: true
          type: string
          name: feed_id
          description: 'The unique feed id.'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Fees Response
          schema:
            type: array
            items:
              $ref: "#/definitions/fee"
      tags:
      - Services
  /services/{service_id}/funding/:
    get:
      summary: Get Funding
      description: Get Funding
      operationId: listServiceFundings
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
      responses:
        '200':
          description: Funding Response
          schema:
            type: array
            items:
              $ref: "#/definitions/funding"
      tags:
      - Services
    post:
      summary: Add Funding
      description: Add Funding
      operationId: addServiceFunding
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/funding'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Funding Response
          schema:
            type: array
            items:
              $ref: "#/definitions/funding"
      tags:
      - Services
  /services/{service_id}/funding/{funding_id}/:
    get:
      summary: Get Funding
      description: Get Funding
      operationId: getServiceFunding
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: path
          required: true
          type: string
          name: funding_id
          description: 'The unique funding id.'
      responses:
        '200':
          description: Funding Response
          schema:
            type: array
            items:
              $ref: "#/definitions/funding"
      tags:
      - Services
    put:
      summary: Update Funding
      description: Update Funding
      operationId: updateServiceFunding
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: path
          required: true
          type: string
          name: funding_id
          description: 'The unique funding id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/funding'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Funding Response
          schema:
            type: array
            items:
              $ref: "#/definitions/funding"
      tags:
      - Services
    delete:
      summary: Delete Funding
      description: Delete Funding
      operationId: deleteServiceFunding
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: path
          required: true
          type: string
          name: funding_id
          description: 'The unique funding id.'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Funding Response
          schema:
            type: array
            items:
              $ref: "#/definitions/funding"
      tags:
      - Services
  /services/{service_id}/holiday-schedule/:
    get:
      summary: Get Holiday Schedule
      description: Get Holiday Schedule
      operationId: listServiceHolidaySchedules
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
      responses:
        '200':
          description: Holiday Schedule Response
          schema:
            type: array
            items:
              $ref: "#/definitions/holiday_schedule"
      tags:
      - Services
    post:
      summary: Add Holiday Schedule
      description: Add Holiday Schedule
      operationId: addServiceHolidaySchedule
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/holiday_schedule'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Holiday Schedule Response
          schema:
            type: array
            items:
              $ref: "#/definitions/holiday_schedule"
      tags:
      - Services
  /services/{service_id}/holiday-schedule/{holiday_schedule_id}/:
    get:
      summary: Get Holiday Schedule
      description: Get Holiday Schedule
      operationId: getServiceHolidaySchedule
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: path
          required: true
          type: string
          name: holiday_schedule_id
          description: 'The unique holiday schedule id.'
      responses:
        '200':
          description: Holiday Schedule Response
          schema:
            type: array
            items:
              $ref: "#/definitions/holiday_schedule"
      tags:
      - Services
    put:
      summary: Update Holiday Schedule
      description: Update Holiday Schedule
      operationId: updateServiceHolidaySchedule
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: path
          required: true
          type: string
          name: holiday_schedule_id
          description: 'The unique holiday schedule id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/holiday_schedule'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Holiday Schedule Response
          schema:
            type: array
            items:
              $ref: "#/definitions/holiday_schedule"
      tags:
      - Services
    delete:
      summary: Delete Holiday Schedule
      description: Delete Holiday Schedule
      operationId: deleteServiceHolidaySchedule
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: path
          required: true
          type: string
          name: holiday_schedule_id
          description: 'The unique holiday schedule id.'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Holiday Schedule Response
          schema:
            type: array
            items:
              $ref: "#/definitions/holiday_schedule"
      tags:
      - Services
  /services/{service_id}/languages/:
    get:
      summary: Get Languages
      description: Get Languages
      operationId: listServiceLanguages
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
      responses:
        '200':
          description: Language Response
          schema:
            type: array
            items:
              $ref: "#/definitions/language"
      tags:
      - Services
    post:
      summary: Add Languages
      description: Add Languages
      operationId: addServiceLanguage
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/language'
      responses:
        '200':
          description: Language Response
          schema:
            type: array
            items:
              $ref: "#/definitions/language"
      tags:
      - Services
  /services/{service_id}/languages/{language_id}/:
    get:
      summary: Get Languages
      description: Get Languages
      operationId: getServiceLanguage
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: path
          required: true
          type: string
          name: language_id
          description: 'The unique language id.'
      responses:
        '200':
          description: Language Response
          schema:
            type: array
            items:
              $ref: "#/definitions/language"
      tags:
      - Services
    put:
      summary: Update Languages
      description: Update Languages
      operationId: updateServiceLanguage
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: path
          required: true
          type: string
          name: language_id
          description: 'The unique language id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/language'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Language Response
          schema:
            type: array
            items:
              $ref: "#/definitions/language"
      tags:
      - Services
    delete:
      summary: Delete Languages
      description: Delete Languages
      operationId: deleteServiceLanguage
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: path
          required: true
          type: string
          name: language_id
          description: 'The unique language id.'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Language Response
          schema:
            type: array
            items:
              $ref: "#/definitions/language"
      tags:
      - Services
  /services/{service_id}/locations/:
    get:
      summary: Get Service Locations
      description: Get Service Locations
      operationId: get-service-locations
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
      responses:
        '200':
          description: Location Response
          schema:
            type: array
            items:
              "$ref": "#/definitions/location"
      tags:
      - Organization - Locations
    post:
      summary: Create a new location
      description: Create a new location
      operationId: create-a-new-location
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/location'
      responses:
        '200':
          description: Location Response
          schema:
            type: array
            items:
              "$ref": "#/definitions/location"
      tags:
      - Service - Locations
  /services/{service_id}/locations/{location_id}/:
    get:
      summary: Update Existing Service Location
      description: Update Existing Service Location
      operationId: update-existing-service-location
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
      responses:
        '200':
          description: Location Response
          schema:
            type: array
            items:
              "$ref": "#/definitions/location"
      tags:
      - Organization - Locations
    put:
      summary: Create a new service location
      description: Create a new service location
      operationId: create-a-new-service-location
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/location'
      responses:
        '200':
          description: Location Response
          schema:
            type: array
            items:
              "$ref": "#/definitions/location"
      tags:
      - Service - Locations
    delete:
      summary: Delete Service Location
      description: Delete Service Location
      operationId: delete-service-location
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: path
          required: true
          type: string
          name: location_id
          description: 'The unique location id.'
      responses:
        '200':
          description: Location Response
          schema:
            type: array
            items:
              "$ref": "#/definitions/location"
      tags:
      - Service - Locations
  /services/{service_id}/payment-accepted/:
    get:
      summary: Get Payment Accepted
      description: Get Payment Accepted
      operationId: listServicePaymentsAccepted
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
      responses:
        '200':
          description: Payment Accepted Response
          schema:
            type: array
            items:
              $ref: "#/definitions/payment_accepted"
      tags:
      - Services
    post:
      summary: Add Payment Accepted
      description: Add Payment Accepted
      operationId: addServicePaymentAccepted
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/payment_accepted'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Payment Accepted Response
          schema:
            type: array
            items:
              $ref: "#/definitions/payment_accepted"
      tags:
      - Services
  /services/{service_id}/payment-accepted/{payment_accepted_id}/:
    get:
      summary: Get Payment Accepted
      description: Get Payment Accepted
      operationId: getServicePaymentAccepted
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: path
          required: true
          type: string
          name: payment_accepted_id
          description: 'The unique payment accepted id.'
      responses:
        '200':
          description: Payment Accepted Response
          schema:
            type: array
            items:
              $ref: "#/definitions/payment_accepted"
      tags:
      - Services
    put:
      summary: Update Payment Accepted
      description: Update Payment Accepted
      operationId: updateServicePaymentAccepted
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: path
          required: true
          type: string
          name: payment_accepted_id
          description: 'The unique payment accepted id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/payment_accepted'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Payment Accepted Response
          schema:
            type: array
            items:
              $ref: "#/definitions/payment_accepted"
      tags:
      - Services
    delete:
      summary: Delete Payment Accepted
      description: Delete Payment Accepted
      operationId: deleteServicePaymentAccepted
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: path
          required: true
          type: string
          name: payment_accepted_id
          description: 'The unique payment accepted id.'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Payment Accepted Response
          schema:
            type: array
            items:
              $ref: "#/definitions/payment_accepted"
      tags:
      - Services
  /services/{service_id}/phones/:
    get:
      summary: Get Phones
      description: Get Phones
      operationId: listServicePhones
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
      responses:
        '200':
          description: Phone Response
          schema:
            type: array
            items:
              $ref: "#/definitions/phone"
      tags:
      - Services
    post:
      summary: Add Phone
      description: Add Phone
      operationId: addServicePhone
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/phone'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Phone Response
          schema:
            type: array
            items:
              $ref: "#/definitions/phone"
      tags:
      - Services
  /services/{service_id}/phones/{phone_id}/:
    get:
      summary: Get Phone
      description: get Phone
      operationId: getServicePhone
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: path
          required: true
          type: string
          name: phone_id
          description: 'The unique phone id.'
      responses:
        '200':
          description: Phone Response
          schema:
            type: array
            items:
              $ref: "#/definitions/phone"
      tags:
      - Services
    put:
      summary: Update Phone
      description: Update Phone
      operationId: updateServicePhone
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: path
          required: true
          type: string
          name: phone_id
          description: 'The unique phone id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/phone'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Phone Response
          schema:
            type: array
            items:
              $ref: "#/definitions/phone"
      tags:
      - Services
    delete:
      summary: Delete Phone
      description: Delete Phone
      operationId: deleteServicePhone
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: path
          required: true
          type: string
          name: phone_id
          description: 'The unique phone id.'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Phone Response
          schema:
            type: array
            items:
              $ref: "#/definitions/phone"
      tags:
      - Services
  /services/{service_id}/regular-schedule/:
    get:
      summary: Get Regular Schedule
      description: Get Regular Schedule
      operationId: listServiceRegularSchedule
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
      responses:
        '200':
          description: Regular Schedule Response
          schema:
            type: array
            items:
              $ref: "#/definitions/regular_schedule"
      tags:
      - Services
    post:
      summary: Add Regular Schedule
      description: Add Regular Schedule
      operationId: addServiceRegularSchedule
      parameters:
        - in: path
          required: true
          type: string
          name: service_id
          description: 'The unique service id.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/regular_schedule'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Regular Schedule Response
          schema:
            type: array
            items:
              $ref: "#/definitions/regular_schedule"
      tags:
      - Services
[...]
