---
layout: page
title: 'Human Services Data API (HSDA) - Meta v1.0'
slug: docs
---

<p>This is the OpenAPI definiton for the Human Services Data API (HSDA) v1.2. This is a set of API paths, organized as a separate service, for managing meta aspects of operations for any HSDA inmplementation. It is available as this HTML list or YAML OpenAPI definition, with an accompanying demo site, and link to current Github Issues for support.</p>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Where To Engage:</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li{% if page.slug == 'docs' %} class="active"{% endif %}><a href="/{{ site.github_repo}}/hsda-meta/">HTML View</a></li>
        <li{% if page.slug == 'yaml' %} class="active"{% endif %}><a href="https://github.com/{{ site.github_org}}/{{ site.github_repo}}/tree/master/_data/api-commons/openapi-hsda-meta.yaml" target="_blank">YAML</a></li>
        <li{% if page.slug == 'demo' %} class="active"{% endif %}><a href="http://developer.open.referral.adopta.agency/#HSDA Meta" target="_blank">Demo</a></li>
        <li{% if page.slug == 'issues' %} class="active"{% endif %}><a href="https://github.com/openreferral/api-specification/issues?q=is%3Aissue+is%3Aopen+label%3Ahsda-meta" target="_blank">Github Issues</a></li>
      </ul>
    </div>
  </div>
</nav>

{% assign openapi_spec_json = site.data.api-commons.openapi-hsda-meta %}

{% include html-docs.html %}

