{% include head.html %}

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Human Services Data Specification (HSDS) API Specification</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/{{ site.github_repo}}/">Home</a></li>
      <li class="active"><a href="/{{ site.github_repo}}/definition/">HSDS API Definition</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="/api-specification/hsda/">HSDA
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/api-specification/hsda-search/">HSDA Search</a></li>
          <li><a href="/api-specification/hsda-bulk/">HSDA Bulk</a></li>
          <li><a href="/api-specification/hsda-taxonomy/">HSDA Taxonomy</a></li>
          <li><a href="/api-specification/hsda-orchestration/">HSDA Orchestration</a></li>
          <li><a href="/api-specification/hsda-meta/">HSDA Meta</a></li>
          <li><a href="/api-specification/hsda-management/">HSDA Management</a></li>
          <li><a href="/api-specification/hsda-utility/">HSDA Utility</a></li>
        </ul>
      </li>        
      <li class="active"><a href="https://raw.githubusercontent.com/openreferral/api-specification/master/_data/api-commons/openapi.yaml" target="_blank">OpenAPI</a></li>
      <li class="active"><a href="https://github.com/{{ site.github_org}}/{{ site.github_repo}}/issues" target="_blank">Issues</a></li>
      <li class="active"><a href="/{{ site.github_repo}}/contact/">Contact</a></li>
    </ul>
  </div>
</nav>
<div class="container">
    <div style="padding: 50px;">
        <div class="page">
          {{ content }}
        </div>
    </div>
</div>

<style>
    .panel-footer ul{
       margin-top: 5px;
    }
    .panel-footer ul li {
        display: inline;
        margin-left: 10px;
        margin-right: 10px;
    }
    .panel-footer ul a{
       color: #FFF;
    }
</style>
<footer class="panel-footer">
  <div class="container" align="center">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/terms-of-service/">Terms of Service</a></li>
        <li><a href="/privacy-policay/">Privacy Policy</a></li>
        <li><a href="/about/">About</a></li>
    </ul>
  </div>
</footer>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
