{% include head.html %}

<body>
    
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Human Services Data Specification (HSDS)</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li class="active"><a href="/schema/">Data Schema</a></li>
        <li class="active"><a href="/definition/">API Definition</a></li>
        <li class="active"><a href="/contact/">Contact</a></li>
      </ul>     
    </div>   
  </div>
</nav>
<div class="container">
    <div style="padding: 50px;">
        <div class="page">

            {{ content }}

        </div>
    </div>
</div>

<style>
    .panel-footer ul{
       margin-top: 5px;
    }
    .panel-footer ul li {
        display: inline;
        margin-left: 10px;
        margin-right: 10px;
    }    
    .panel-footer ul a{
       color: #FFF;
    }    
</style>
<footer class="panel-footer">
  <div class="container" align="center">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/terms-of-service/">Terms of Service</a></li>
        <li><a href="/privacy-policay/">Privacy Policy</a></li>
        <li><a href="/about/">About</a></li>
    </ul>
  </div>
</footer>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>