---
layout: default
---
<div class="post">
  <h1>{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="pagination">
	{% if page.previous %}
	   	<a href="{{ site.production_url }}{{ page.previous.url }}" class="older">Older</a>
	{% else %}
		<a href="/" class="older">Older</a>
	{% endif %}
	  {% if page.next %}
	    <a href="{{ site.production_url }}{{ page.next.url }}" class="newer">Newer</a>
	  {% else %}
	    <span class="next">Newer</span>
	  {% endif %}
</div>
