---
layout: page
title: 'Human Services Data API (HSDA) v1.1'
slug: docs
---

<p>This is the OpenAPI definiton for the Human Services Data API (HSDA) v1.1. This is the core set of API resources for managing organizations, locations, and services. It is available as this HTML list or YAML OpenAPI definition, with an accompanying demo site, and link to current Github Issues for support.</p>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Where To Engage:</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li{% if page.slug == 'docs' %} class="active"{% endif %}><a href="/{{ site.github_repo}}/hsda/">HTML View</a></li>
        <li{% if page.slug == 'yaml' %} class="active"{% endif %}><a href="https://github.com/{{ site.github_org}}/{{ site.github_repo}}/blob/master/_data/v1.1/openapi.yaml" target="_blank">YAML</a></li>
        <li{% if page.slug == 'issues' %} class="active"{% endif %}><a href="https://github.com/openreferral/api-specification/issues?q=is%3Aissue+is%3Aopen+label%3Av1.1" target="_blank">Github Issues</a></li>
      </ul>
    </div>
  </div>
</nav>

{% assign openapi_spec_json = site.data.v11.openapi %}

{% include html-docs.html %}

